<%- include('../../../common/header') %> 
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

<%- include('../../../common/side-bar') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <%- include('../../../common/navbar') %>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-3 mb-xl-0 mb-4">
        </div>
        <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Add New Course Term Topic</h6>
                </div>
              </div>
            <div class="card-body px-3 pb-2">
              <%- include('../../../../errors/flash-message')  %>
                <form role="form" action="/course/course-faculty/store/?_csrf=<%=csrfToken%>" method="post" enctype="multipart/form-data">
                  <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
                  <div class="input-group input-group-outline mb-3">
                    <select name="course_id" class="form-control">
                        <option value="">Select Course</option>
                        <% courses.forEach(course=> { %>
                          <option value="<%= course.id %>"><%= course.name %></option>
                        <% }) %>
                    </select>
                  </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Name</label>
                      <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="input-group input-group-outline mb-3 is-filled">
                      <label class="form-label">Profile Image</label>
                      <input type="file" class="form-control" name="image" required>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Designation</label>
                      <input type="text" class="form-control" name="designation" required>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Department</label>
                      <input type="text" class="form-control" name="department" required>
                    </div>
                    <label class="form-label">Description</label>

                    <div class="input-group input-group-outline mb-3 mb-3">
                      <textarea type="text" class="form-control" name="description" required></textarea>
                      <script>
                        CKEDITOR.replace('description');
                      </script>
                    </div>
                    <div class="input-group input-group-outline mb-3 is-filled">
                      <label class="form-label">Video</label>
                      <input type="file" class="form-control" name="video" required>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg mt-4 mb-0">Create</button>
                    </div>
                  </form>
         </div>
        </div>
        </div>
        </div>
    </div>
</main>


<%- include('../../../common/footer') %> 